body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0a500;
}

.intro {
    text-align: center;
    margin: 40px 0;
}

.course-summary h3 {
    text-align: center;
    margin-top: 40px;
}

.course-summary ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.course-summary ul li {
    margin: 10px 0;
}

.course-summary ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    transition: color 0.3s, background-color 0.3s, padding 0.3s;
    padding: 10px;
    display: inline-block;
}

.course-summary ul li a:hover {
    color: white;
    background-color: #495D84;
    padding-left: 15px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}
